<?xml version="1.0" standalone="yes"?>
<MetaTags>
  <MetaDescription>Juho Antti Heinonen is a seasoned software developer. He's a bit of searcher in professional life, thinking what position in work life is suitable for him and his talents and tendencies.</MetaDescription>
  <MetaKeywords>Programming C# Art</MetaKeywords>
  <TwitterCard>summary</TwitterCard>
  <TwitterSite>@twitterhandle</TwitterSite>
  <TwitterCreator>@twitterhandle</TwitterCreator>
  <TwitterImage>http://www.somesite.com/images/defaultsiteimage.png</TwitterImage>
  <FaceBookAdmins>fbadmin</FaceBookAdmins>
  <FaceBookAppID>AB124321234</FaceBookAppID>
  <GoogleAnalyticsID>UA</GoogleAnalyticsID>
</MetaTags>