<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Role>Admin</Role>
      <Ask>true</Ask>
      <EmailAddress>juho.antti.heinonen@gmail.com</EmailAddress>
      <DisplayName>Admin Juho Heinonen</DisplayName>
      <OpenIDUrl>https://devdiary.azurewebsites.net/</OpenIDUrl>
      <NotifyOnNewPost>true</NotifyOnNewPost>
      <NotifyOnAllComment>true</NotifyOnAllComment>
      <NotifyOnOwnComment>true</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>79-34-D6-9C-F8-1F-56-27-6C-7D-EB-D6-34-E2-DC-44</Password>
    </User>
  </Users>
</SiteSecurityConfig>